<!DOCTYPE html>
<html lang="en">

<head>
    <title>NITC Events</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="events.css">

</head>

<body>

    <div class="main0">
        <div class="navbar0">
            <div class="icon0">
                <h2 class="logo0">NITC EVENTS ADMIN</h2>
            </div>

            <div class="menu0">
                <ul>
                    <li><a href="aevents">HOME</a></li>
                    <li><a href="addevent">CREATE EVENT</a></li>
                    <li><a href="#">LOG OUT</a></li>
                </ul>
            </div>

        </div>

        <div class="content">
            <div class="container">
                <% for(var i=0;i<events.length;i++){ %>
                <div class="card-media">
                    <div class="card-media-object-container">
                        <div class="card-media-object" style="background-image: url(https://s9.postimg.cc/y0sfm95gv/prince_f.jpg);"></div>
                    </div>
                    <div class="card-media-body">
                        <div class="card-media-body-top">
                            <span class="subtle"><%= events[i].date %> <%= events[i].time %></span>
                        </div>
                        <H2><%= events[i].title %></H2>
                        <div>Host - <%= events[i].host %></div>
                        <span class="card-media-body-heading"><%= events[i].description %></span>
                        <div class="card-media-body-supporting-bottom">
                            <span class="card-media-body-supporting-bottom-text subtle">Venue - <%= events[i].venue %></span>
                            <a href="#/" class="card-media-body-supporting-bottom-text subtle u-float-right card-media-link">Delete</a>
                            <a href="#/" class="card-media-body-supporting-bottom-text subtle u-float-right card-media-link">Edit</a>
                        </div>
                        <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                            <span class="card-media-body-supporting-bottom-text subtle">#Music #Party</span>
                            <a href="#/" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Delete</a>
                            <a href="#/" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Edit</a>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>