<!DOCTYPE html>
<html lang="en">

<head>
    <title>NITC Events</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="main0">
        <div class="navbar0">
            <div class="icon0">
                <h2 class="logo0">NITC EVENTS</h2>
            </div>

            <div class="menu0">
                <ul>
                    <li><a href="aevents">HOME</a></li>
                    <li><a href="addevent">CREATE EVENT</a></li>
                    <li><a href="#">LOG OUT</a></li>
                </ul>
            </div>

        </div>
        <div class="content0">
            <form class="form0 formevent" action="/editevent?id=<%= event._id %>" method="POST">
                <h2>Event Details</h2>
                <input type="text" name="title" value="<%= event.title %>" placeholder="SAC Onam">
                <input type="text" name="description" value="<%= event.description %>"placeholder="Onam Description">
                <input type="datetime" name="date" value="<%= event.date %>"placeholder="28th September 2022">
                <input type="text" name="time" value="<%= event.time %>"placeholder="10 : 00 AM">
                <input type="text" name="url" value="<%= event.url %>"placeholder="https://google.com/onam.png">
                <input type="text" name="venue" value="<%= event.venue %>"placeholder="A Hostel NITC">
                <input type="text" name="host" value="<%= event.host %>"placeholder="SAC">
                <button class="btnn0 btnn1">Save Details</button>
            </form>
        </div>
    </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>